<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>E Store - eCommerce HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="eCommerce HTML Template Free Download" name="keywords">
    <meta content="eCommerce HTML Template Free Download" name="description">

    <!-- Favicon -->
    <link href="#" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="/lib/slick/slick.css" rel="stylesheet">
    <link href="/lib/slick/slick-theme.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
<!-- Top bar Start -->
<div class="top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-envelope"></i>
                support@email.com
            </div>
            <div class="col-sm-6">
                <i class="fa fa-phone-alt"></i>
                +012-345-6789
            </div>
        </div>
    </div>
</div>
<!-- Top bar End -->

<!-- Nav Bar Start -->
<div class="nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a href="/" class="nav-item nav-link">Home</a>
                    <a href="/products" class="nav-item nav-link active">Products</a>
                    {{#if user}}
                        <a href="/myAccount" class="nav-item nav-link">My Account</a>
                        <a href="/changePassword" class="nav-item nav-link">Change Password</a>
                        <a href="/cart" class="nav-item nav-link">Cart</a>
                    {{/if}}
                </div>
                <div class="navbar-nav ml-auto">
                    {{#if user}}
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{user.fullname}}</a>
                            <div class="dropdown-menu">
                                <a href="/logout" class="dropdown-item">Logout</a>
                            </div>
                        </div>
                    {{else}}
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">User Account</a>
                            <div class="dropdown-menu">
                                <a href="/auth" class="dropdown-item">Login</a>
                                <a href="/auth/:1" class="dropdown-item">Register</a>
                            </div>
                        </div>
                    {{/if}}
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Nav Bar End -->

<!-- Bottom Bar Start -->
<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logo.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-3">
                <div class="user">
                    <a href="#" class="btn wishlist">
                        <i class="fa fa-heart"></i>
                        <span>(0)</span>
                    </a>
                    <a href="#" class="btn cart">
                        <i class="fa fa-shopping-cart"></i>
                        <span>(0)</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bottom Bar End -->

<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Products</a></li>
            <li class="breadcrumb-item active">Product List</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Product List Start -->
<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-12">
                        <form method="get">
                            <div class="product-view-top">
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="product-search">
                                            <input type="text" placeholder="Search" name="key">
                                            <button><i class="fa fa-search" type="submit" value="submit"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="product-short">
                                            <div class="dropdown">

                                                <select  name="gt" class="dropdown-toggle" data-toggle="dropdown">Sex
                                                    <div  class="dropdown-menu dropdown-menu-right">
                                                        <option  class="dropdown-item" value="nam">Nam</option>
                                                        <option  class="dropdown-item" value="nữ">Nữ</option>
                                                    </div>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="product-price-range">
                                            <div class="dropdown">
                                                <select name="price"  class="dropdown-toggle" data-toggle="dropdown">Product price range
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <option  class="dropdown-item" value='0,50'>$0 to $50</option>
                                                        <option  class="dropdown-item" value='51,100'>$51 to $100</option>
                                                        <option  class="dropdown-item" value='101,150'>$101 to $150</option>
                                                        <option  class="dropdown-item" value='151,200'>$151 to $200</option>
                                                        <option  class="dropdown-item" value='201,250'>$201 to $250</option>
                                                    </div>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="product-price-range">
                                            <div class="dropdown">
                                                <select name="mau"  class="dropdown-toggle" data-toggle="dropdown">MAU
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <option href="#" class="dropdown-item" value='trắng'>Trắng</option>
                                                        <option href="#" class="dropdown-item" value="xanh">Xanh</option>
                                                        <option href="#" class="dropdown-item" value="đen">Đen</option>
                                                        <option href="#" class="dropdown-item" value="đỏ">Đỏ</option>
                                                        <option href="#" class="dropdown-item" value="cam">Cam</option>
                                                        <option href="#" class="dropdown-item" value="nâu">Nâu</option>

                                                    </div>
                                                </select>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-2">
                                        <div class="product-price-range">
                                            <div class="dropdown">
                                                <select name="sapxep"  class="dropdown-toggle" data-toggle="dropdown">Sắp xếp
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <option href="#" class="dropdown-item" value='0'>Giá</option>
                                                        <option href="#" class="dropdown-item" value="up">Tăng dần</option>
                                                        <option href="#" class="dropdown-item" value="down">Giảm dần</option>
                                                    </div>
                                                </select>

                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </form>
                        <div class="row">
                            {{#each products}}
                                <div class="col-md-4">
                                    <div class="product-item">
                                        <div class="product-title">
                                            <a href="/products/:1?ID={{QUANAO_ID}}">{{TEN_LOAI}} {{MAU}} {{GIOI_TINH}} <br> {{TEN_THUONG_HIEU}}</a>
                                            <div class="ratting">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                        <div class="product-image">
                                            <a href="/products/:1?ID={{QUANAO_ID}}">
                                            <img src={{LINK}} alt="Product Image">
                                            </a>

                                        </div>
                                        <div class="product-price" style="display: flex;flex-direction: row;justify-content: space-around;">
                                            <h3>{{GIA}}</h3>
                                           <form method="post" action="">
                                                <button type="submit" value="submit" style="float: right;font-size: 20px;border: 0;padding: 0;color: #ff6f61;">Buy Now

                                                    <input class="btn" href="#" type="hidden" name="quanao_id" value="{{QUANAO_ID}}"><i class="fa fa-shopping-cart" ></i></input>
                                                    <input type="hidden" name="user_id" value="{{users}}">
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                        <!-- Pagination Start -->
                        <div class="col-md-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item"><a class="page-link" href="/products?page=1">1</a></li>
                                    <li class="page-item"><a class="page-link" href="/products?page=2">2</a></li>
                                    <li class="page-item"><a class="page-link" href="/products?page=3">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Pagination Start -->
                    </div>

                    <!-- Side Bar Start -->
                    <div class="col-lg-8 sidebar " style="margin: auto;">
                        <div class="sidebar-widget category">
                            <h2 class="title">Category</h2>
                            <nav class="navbar bg-light">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fa fa-female"></i>Fashion & Beauty</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fa fa-child"></i>Kids & Babies Clothes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fa fa-tshirt"></i>Men & Women Clothes</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fa fa-mobile-alt"></i>Gadgets & Accessories</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="fa fa-microchip"></i>Electronics & Accessories</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <div class="sidebar-widget widget-slider">
                            <div class="sidebar-slider normal-slider">
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="#"></a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="#">
                                            <img src="https://i.postimg.cc/bvcV6rxH/p-1.png" alt="Product Image">
                                        </a>
                                        <div class="product-action">
                                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3>Sale</h3>
                                        <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="#"></a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="#">
                                            <img src="https://i.postimg.cc/8c5ZF6GD/p-2.png" alt="Product Image">
                                        </a>
                                        <div class="product-action">
                                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3>Sale</h3>
                                        <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                    </div>
                                </div>
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="#"></a>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="#">
                                            <img src="https://i.postimg.cc/9fg1qBmM/p-3.png" alt="Product Image">
                                        </a>
                                        <div class="product-action">
                                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                                            <a href="#"><i class="fa fa-heart"></i></a>
                                            <a href="#"><i class="fa fa-search"></i></a>
                                        </div>
                                    </div>
                                    <div class="product-price">
                                        <h3>Sale</h3>
                                        <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sidebar-widget brands">
                            <h2 class="title">Our Brands</h2>
                            <ul>
                                <li><a href="#">Nulla </a><span>(45)</span></li>
                                <li><a href="#">Curabitur </a><span>(34)</span></li>
                                <li><a href="#">Nunc </a><span>(67)</span></li>
                                <li><a href="#">Ullamcorper</a><span>(74)</span></li>
                                <li><a href="#">Fusce </a><span>(89)</span></li>
                                <li><a href="#">Sagittis</a><span>(28)</span></li>
                            </ul>
                        </div>

                        <div class="sidebar-widget tag">
                            <h2 class="title">Tags Cloud</h2>
                            <a href="#">Lorem ipsum</a>
                            <a href="#">Vivamus</a>
                            <a href="#">Phasellus</a>
                            <a href="#">pulvinar</a>
                            <a href="#">Curabitur</a>
                            <a href="#">Fusce</a>
                            <a href="#">Sem quis</a>
                            <a href="#">Mollis metus</a>
                            <a href="#">Sit amet</a>
                            <a href="#">Vel posuere</a>
                            <a href="#">orci luctus</a>
                            <a href="#">Nam lorem</a>
                        </div>
                    </div>
                    <!-- Side Bar End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product List End -->

<!-- Brand Start -->
<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            <div class="brand-item"><img src="/images/brand-1.png" alt=""></div>
            <div class="brand-item"><img src="/images/brand-2.png" alt=""></div>
            <div class="brand-item"><img src="/images/brand-3.png" alt=""></div>
            <div class="brand-item"><img src="/images/brand-4.png" alt=""></div>
            <div class="brand-item"><img src="/images/brand-5.png" alt=""></div>
            <div class="brand-item"><img src="/images/brand-6.png" alt=""></div>
        </div>
    </div>
</div>
<!-- Brand End -->

<!-- Footer Start -->
<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Get in Touch</h2>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>123 E Store, Los Angeles, USA</p>
                        <p><i class="fa fa-envelope"></i>email@example.com</p>
                        <p><i class="fa fa-phone"></i>+123-456-7890</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Follow Us</h2>
                    <div class="contact-info">
                        <div class="social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Company Info</h2>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms & Condition</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h2>Purchase Info</h2>
                    <ul>
                        <li><a href="#">Pyament Policy</a></li>
                        <li><a href="#">Shipping Policy</a></li>
                        <li><a href="#">Return Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row payment align-items-center">
            <div class="col-md-6">
                <div class="payment-method">
                    <h2>We Accept:</h2>
                    <img src="/images/payment-method.png" alt="Payment Method" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="payment-security">
                    <h2>Secured By:</h2>
                    <img src="/images/godaddy.svg" alt="Payment Security" />
                    <img src="/images/norton.svg" alt="Payment Security" />
                    <img src="/images/ssl.svg" alt="Payment Security" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="/lib/easing/easing.min.js"></script>
<script src="/lib/slick/slick.min.js"></script>
<script src="/lib/slick/cart.js"></script>

<!-- Template Javascript -->
<script src="/javascripts/main.js"></script>

</body>
</html>